.container{
  width: 400px;
  height: 240px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E213A;
}


 .container .bgNubes{
  width: 100%;
  height: 100%;
  position: relative;
 }
 
 .container .bgNubes::after{
   content: '';
   width: 100%;
   height: 100%;
   background-image: url('/public/Image20231018173452.png');
   background-size: cover;
   position: absolute;
   opacity: .2;
 }